* {
  box-sizing: border-box;
}

body {
  background: white;
  font-family: "montserrat";
}

/*Header section*/
/*.nav-bar {
  Padding: 20px;
  font-size: 30px;
  top: 0;
  position: sticky;
  background: white;
  z-index: 1000;
}*/

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  Padding: 20px;
  font-size: 30px;
  top: 0;
  position: sticky;
  background: white;
  z-index: 1000;
}

li {
  margin: 0px 15px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #F5F0E1;
}

@media (max-width: 1024px) {
  .nav-list {
    display: none;
  }
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: white;
  color: black;
  list-style: none;
  padding-top: 4rem;
}

@media (min-width: 1024px) {
  .menu {
    display: none;
  }
}

.showMenu {
  transform: translateY(0);
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 2rem;
  right: 2rem;
  padding: 15px;
  border: none;
  background: none;
  cursor: pointer;
}

.hamburger .closeIcon {
  display: none;
}

.hamburger .menuIcon {
  display: inline-block;
}

.hero {
  background: url("images/blue-paint.jpg") center/cover no-repeat;
  height: 700px;
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
}

h1 {
  margin: 0 auto;
  padding-top: 200px;
  font-size: 9em;
  color: white;
}

@media (max-width: 667px) {
  h1 {
    font-size: 3em;
  }
}

.header-text {
  margin-bottom: 200px;
}

.header-paragraph {
  color: white;
}

/* Main section */
.main-section {
  background: white;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  margin: 0 auto;
  padding: 150px 0;
  border-top: 3px solid #658382;
  border-bottom: 3px solid #658382;
}

@media (min-width: 668px) and (max-width: 1024px) {
  .main-section {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media (max-width:667px) {
  .main-section {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}

img {
  width: 60%;
  margin-top: 20px;
}

/*.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  margin: 0 auto;
  gap: 10px;
  border-radius: 1%;
  transition: all 0.5s;
}*/


/* POLAROIDS*/
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  margin: 0 auto;
  gap: 10px;
  border-radius: 1%;
  transition: all 0.5s;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 15px -6px gray;
  margin-bottom: 100px;
}

@media (min-width: 1024px) {
  .card:hover {
    rotate: -10deg;
  }
}

/*.card one {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 15px -6px gray;
  margin-bottom: 100px;
}

.card-2 {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 15px -6px gray;
  margin-bottom: 100px;
}

.card-3 {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 15px -6px gray;
  margin-bottom: 100px;
}

.card-4 {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 15px -6px gray;
  margin-bottom: 100px;
}

.card-5 {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 15px -6px gray;
  margin-bottom: 100px;
}

.card-6 {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 15px -6px gray;
  margin-bottom: 100px;
}

.card-7 {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 15px -6px gray;
  margin-bottom: 100px;
}

.card-8 {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 15px -6px gray;
  margin-bottom: 100px;
}

.card-9 {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 15px -6px gray;
  margin-bottom: 100px;
}

.card-10 {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 15px -6px gray;
  margin-bottom: 100px;
}

.card-11 {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 15px -6px gray;
  margin-bottom: 100px;
}

.card-12 {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 15px -6px gray;
  margin-bottom: 100px;
}*/


/* INFO and FORM section */
.info-section {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {

  .info-section {
    flex-direction: column;
  }
}

.info-text {
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 50%;
  margin: 0 auto;
}

form {
  width: 100%;
  min-width: 250px;
  padding: 10px;
  margin 0 auto;
}

fieldset {
  border: none;
  background: #658382;
  border-radius: 2px;
  padding: 10px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  text-align: center;
  margin: 15px;
}

input {
  align-items: center;
  width: 80%;
  display: flex;
  font-size: 15 px;
  padding: 10px;
  border: none;
}

select {
  width: 80%;
  padding: 10px;
}

.radiobutton-row {
  display: flex;
  justify-content: center;
}

.radiobutton-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 10px 5px;
  font-size: 15px;
  user-select: none;
}

.radiobutton-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-radiobutton {
  position: static;
  margin-top: 5px;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.radiobutton-container input:checked~.custom-radiobutton {
  background-color: black;
}


button {
  font-size: 30px;
  transition-duration: 0.4s;
  color: black;
  margin-top: 10px;
}


/* Footer section*/
footer {
  background: #658382;
  text-align: center;
  padding: 40px;
}










/*.card-2:hover {
    rotate: 5deg;
  }

  .card-3:hover {
    rotate: -7deg;
  }

  .card-4:hover {
    rotate: 4deg;
  }

  .card-5:hover {
    rotate: 2deg;
  }

  .card-6:hover {
    rotate: -2deg;
  }

  .card-7:hover {
    rotate: 20deg;
  }

  .card-8:hover {
    rotate: -7deg;
  }

  .card-9:hover {
    rotate: -3deg;
  }

  .card-10:hover {
    rotate: 10deg;
  }

  .card-11:hover {
    rotate: -5deg;
  }

  .card-12:hover {
    rotate: 2deg;
  }
}*/